<!-- Inicio -->
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <img src="/src/assets/notablelogo.png" alt="logo de notable estudio de fotografìa ">
    </div>
  </div>
</section>

<!-- Galeria Nuestro trabajo -->

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline is-centered">
		  <div class="column">
		    <figure class="image is-32x32">
			  <img src="https://bulma.io/images/placeholders/128x128.png">
			</figure>
		  </div>	
		  <div class="column">	
			<figure class="image is-32x32">
			  <img src="https://bulma.io/images/placeholders/128x128.png">
			</figure>
		  </div>	
		  <div class="column">	
			<figure class="image is-32x32">
			  <img src="https://bulma.io/images/placeholders/128x128.png">
			</figure>
		  </div>
		  <div class="column is-12">
		    <figure class="image">
			  <img src="/src/assets/boda.jpg" width="800" height="800">
			</figure>
		  </div>
	  </div>
    </div>
  </div>
</section>


<!-- Servicios -->

<section class="section">
    <div class="container">
    	<div class="columns is-centered">
    		<div class="column">	
    			<div class="card">
			  		<div class="card-image">
					    <figure class="image is-4by3">
					      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
					    </figure>
			  		</div>
					<div class="card-content">
						<div class="media">
					      	<div class="media-content">
					        	<p class="title is-4 has-text-primary">Bodas</p>
					      	</div>
			    		</div>

					    <div class="content">
					      	Ofrecemos nuestro servicio de fotografia para bodas, para que ese 
					      	evento tan importante en tu vida quede grabado para siempre.
					      	<br>
					      	<br>
					    </div>
			  		</div>
    			</div>
    		</div>
    		

			<!-- Segundo servicio -->
			
			<div class="column">	
    			<div class="card">
			  		<div class="card-image">
					    <figure class="image is-4by3">
					      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
					    </figure>
			  		</div>
					<div class="card-content">
						<div class="media">
					      	<div class="media-content">
					        	<p class="title is-4 has-text-primary">15 años</p>
					      	</div>
			    		</div>

					    <div class="content">
					    	Nuestro servicio especial para quinceañeras que incluyen book de fotos en exterior, en el evento y la fiesta.
					      	<br>
					      	<br>
					    </div>
			  		</div>
    			</div>
    		</div>

    		<!-- Tercer servicio -->

    		<div class="column">	
    			<div class="card">
			  		<div class="card-image">
					    <figure class="image is-4by3">
					      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
					    </figure>
			  		</div>
					<div class="card-content">
						<div class="media">
					      	<div class="media-content">
					        	<p class="title is-4 has-text-primary">Fotografia publicitaria</p>
					      	</div>
			    		</div>

					    <div class="content">
					    	Necesitas publicitar tu negocio a travez de fotos profesionales... Somos los indicados para lograr que tus productos se luzcan.
					      	<br>
					    </div>
			  		</div>
    			</div>
    		</div>
		</div>
	</div>
</section>

<!-- Contacto -->

<section class="section">
	<div class="columns">
	  <div class="column">
	    <figure class="image is-128x128 sm">
	      <img src="/src/assets/facebook.jpg">
	    </figure>
	  </div>
	  <div class="column">
	  	<figure class="image is-128x128 sm">
	      <img src="/src/assets/wa.jpg">
	    </figure>
	  </div>
	  <div class="column">
	    <figure class="image is-128x128 sm">
	      <img src="/src/assets/instagram.jpg">
	    </figure>
	  </div>
	</div>
</section>

