<div class="container">
	<nav class="navbar" role="navigation" aria-label="main navigation">
	  <div class="navbar-brand is-32x32">
	    <a class="navbar-item" href="https://notable.com">
	      <img src="/src/assets/logo.png" alt="Notable logo">
	    </a>
	    <a role="button" class="navbar-burger"  data-target="navMenu" aria-label="menu" aria-expanded="false">
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	    </a>
	  </div>
	  <div class="navbar-menu" id="navMenu">
		<div class="navbar-start">
	    	<div class="navbar-item">
	    		<a href="#">NUESTRO TRABAJO</a>
	    	</div>
	    </div>
	     
	    <div class="navbar-end">
	    	<div class="navbar-item">
	    		<a href="#">Servicios</a>
	    	</div>
	    	<div class="navbar-item">
	    		<a href="#">Contacto</a>
	    	</div>
	    </div>
  	  </div>
	</nav>
</div>